body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /*
    background-image: url("https://wallpaperaccess.com/full/32514.jpg");
    */
    background-size: cover;

    font-family: 'Open Sans', sans-serif;

    font-size: 120%;

    background: #2980b9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5abdff, #6dd5fa, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5abdff, #6dd5fa, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.card {
    background: #000000b0;
    color: #ffffff;
    padding: 2em;
    border-radius: 3em;
    width: 100%;
    max-width: 20em;
    margin: 1em;
}


.search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 2.5em;
    width: 2.5em;
    outline: none;
    background-color: #aaaaaa2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    background-color: #ffffff3b;
}

h1.temp {
    margin: 0;
}

.flex {
    display: flex;
    align-items: center;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 18px;
    background-color: #aaaaaa2b;
    color: #ffffff;
    font-family: inherit;
    font-size: 0.9em;
    width: calc(100% - 100px);

}


.description {
    text-transform: capitalize;
}


.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading::after {
    visibility: visible;
    content: "Loading";
    color: white;
    position: absolute;
    top: 0;
    left: 20;
}